USE [master]
GO
/****** Object:  Database [HouseWareShop]    Script Date: 4/5/2020 12:02:07 PM ******/
CREATE DATABASE [HouseWareShop]
 
GO
USE [HouseWareShop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[userName] [nvarchar](100) NOT NULL,
	[password] [nvarchar](50) NULL,
	[displayName] [nvarchar](100) NULL,
	[address] [nvarchar](200) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[role_id] [int] NULL,
	[status] [int] NULL,
	[create_date] [date] NULL CONSTRAINT [DF_Account_create_date]  DEFAULT (getdate()),
	[active_code] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account_1] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountFB]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountFB](
	[id] [nvarchar](50) NOT NULL,
	[displayName] [nvarchar](100) NULL,
	[creat_date] [date] NULL CONSTRAINT [DF_AccountFB_creat_date]  DEFAULT (getdate()),
	[role_id] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK__AccountF__3213E83FF2A27A50] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[category]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](200) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[image]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_name] [nvarchar](200) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Customer] [nvarchar](100) NULL,
	[shipping_id] [int] NULL,
	[create_date] [date] NULL CONSTRAINT [DF_order_create_date]  DEFAULT (getdate()),
	[total_price] [float] NULL,
	[note] [nvarchar](2000) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[product_name] [nvarchar](200) NULL,
	[product_price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[product_image] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](200) NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[description] [nvarchar](2000) NULL,
	[image] [nvarchar](100) NULL,
	[create_date] [date] NULL CONSTRAINT [DF__product__create___145C0A3F]  DEFAULT (getdate()),
	[status] [int] NULL,
	[sub_category_id] [nchar](10) NULL,
	[sale] [float] NULL,
 CONSTRAINT [PK__product__3213E83FE0F71A36] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[role_Account]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_Account](
	[code] [int] NOT NULL,
	[role] [nvarchar](50) NULL,
 CONSTRAINT [PK_role_Account] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[id] [int] NOT NULL,
	[room_id] [int] NULL,
	[from] [date] NULL,
	[to] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](200) NULL,
 CONSTRAINT [PK__Shipping__3213E83F52ED128F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[status_Account]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_Account](
	[code] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_status_Account] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[status_category]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_status_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[status_Order]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_Order](
	[code] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_status_Order] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[status_product]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NULL,
	[status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[status_sub_category]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_sub_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_status_sub_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sub_category]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[sub_category_name] [nvarchar](200) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_sub_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[view]    Script Date: 4/5/2020 12:02:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[view](
	[view] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([userName], [password], [displayName], [address], [email], [phone], [role_id], [status], [create_date], [active_code]) VALUES (N'792159237907614', NULL, N'Hồng Quân', NULL, NULL, NULL, 4, 1, CAST(N'2019-11-10' AS Date), NULL)
INSERT [dbo].[Account] ([userName], [password], [displayName], [address], [email], [phone], [role_id], [status], [create_date], [active_code]) VALUES (N'huongnt', N'12345', N'huongnt', N'', N'huongnt7@fpt.edu.vn', N'1234567890', 4, 1, CAST(N'2020-04-05' AS Date), NULL)
INSERT [dbo].[Account] ([userName], [password], [displayName], [address], [email], [phone], [role_id], [status], [create_date], [active_code]) VALUES (N'huyen', N'12345', N'huyen', N'', N'huyen08101999@gmail.com', N'12345678', 4, 1, CAST(N'2020-04-03' AS Date), NULL)
INSERT [dbo].[AccountFB] ([id], [displayName], [creat_date], [role_id], [status]) VALUES (N'738449750001771', N'Donald Knuthvh', CAST(N'2019-11-10' AS Date), 1, 1)
INSERT [dbo].[AccountFB] ([id], [displayName], [creat_date], [role_id], [status]) VALUES (N'792159237907614', N'Hồng Quân', CAST(N'2019-11-10' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [category], [status]) VALUES (1, N'Tools', 1)
INSERT [dbo].[category] ([id], [category], [status]) VALUES (2, N'Measurements', 1)
INSERT [dbo].[category] ([id], [category], [status]) VALUES (3, N'Improvement', 3)
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([id], [product_id], [image_name], [status]) VALUES (1, 1, N'tools/1_1.jpg', 1)
INSERT [dbo].[image] ([id], [product_id], [image_name], [status]) VALUES (2, 1, N'tools/1_2.jpg', 1)
INSERT [dbo].[image] ([id], [product_id], [image_name], [status]) VALUES (3, 1, N'tools/1_3.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[image] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [Customer], [shipping_id], [create_date], [total_price], [note], [status]) VALUES (6, N'minh', 11, CAST(N'2020-03-30' AS Date), 34.48, N'qwer', 4)
INSERT [dbo].[order] ([id], [Customer], [shipping_id], [create_date], [total_price], [note], [status]) VALUES (7, N'minh', 12, CAST(N'2020-03-30' AS Date), 38.67, N'freeeeeeeeeeeeeeeee', 3)
INSERT [dbo].[order] ([id], [Customer], [shipping_id], [create_date], [total_price], [note], [status]) VALUES (8, N'minh', 13, CAST(N'2020-03-30' AS Date), 40.41, N'aaaaaaaaaaaaa', 3)
SET IDENTITY_INSERT [dbo].[order] OFF
SET IDENTITY_INSERT [dbo].[order_detail] ON 

INSERT [dbo].[order_detail] ([id], [order_id], [product_id], [product_name], [product_price], [quantity], [product_image]) VALUES (29, 6, 1, N'Repair Tool', CAST(17 AS Decimal(18, 0)), 1, N'tools/1_0.jpg')
INSERT [dbo].[order_detail] ([id], [order_id], [product_id], [product_name], [product_price], [quantity], [product_image]) VALUES (30, 6, 2, N'Measure Tools', CAST(9 AS Decimal(18, 0)), 1, N'tools/2_0.jpg')
INSERT [dbo].[order_detail] ([id], [order_id], [product_id], [product_name], [product_price], [quantity], [product_image]) VALUES (31, 6, 3, N'Manual Screw', CAST(9 AS Decimal(18, 0)), 1, N'tools/3_0.jpg')
SET IDENTITY_INSERT [dbo].[order_detail] OFF
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [category_id], [code], [name], [quantity], [price], [description], [image], [create_date], [status], [sub_category_id], [sale]) VALUES (1, 1, N'HW-01', N'Repair Tool', 10, 16.61, N'86pcs M3-M8 Hand Riveter Nut Rivet Gun Kit Threaded Nut Rive Tool with Rivnut Nutsert Riveting Kit for Household Repair Tools', N'tools/1_0.jpg', CAST(N'2019-10-09' AS Date), 3, N'1         ', 0)
INSERT [dbo].[product] ([id], [category_id], [code], [name], [quantity], [price], [description], [image], [create_date], [status], [sub_category_id], [sale]) VALUES (2, 1, N'HW-02', N'Measure Tools', 10, 9.27, N'Outside Micrometer 0-25mm/0.01mm Gauge Vernier Caliper Gauge Meter Micrometer Carbon Steel Measure Tools', N'tools/2_0.jpg', CAST(N'2019-10-09' AS Date), 2, N'1         ', 0.11)
INSERT [dbo].[product] ([id], [category_id], [code], [name], [quantity], [price], [description], [image], [create_date], [status], [sub_category_id], [sale]) VALUES (3, 1, N'HW-03', N'Manual Screw', 10, 8.6, N'5/6mm Multi-use Screwdriver Security Insulated Screwdrivers Repair Hand Tools Screwdriver Set Electrician Manual Screw Driver', N'tools/3_0.jpg', CAST(N'2019-10-09' AS Date), 1, N'1         ', 0)
GO
SET IDENTITY_INSERT [dbo].[product] OFF
INSERT [dbo].[role_Account] ([code], [role]) VALUES (1, N'Admin')
INSERT [dbo].[role_Account] ([code], [role]) VALUES (2, N'Employee')
INSERT [dbo].[role_Account] ([code], [role]) VALUES (3, N'Vip')
INSERT [dbo].[Room] ([id], [name]) VALUES (1, N'Room 1')
INSERT [dbo].[Room] ([id], [name]) VALUES (2, N'Room 2')
INSERT [dbo].[Room] ([id], [name]) VALUES (3, N'Room 3')
INSERT [dbo].[Schedule] ([id], [room_id], [from], [to]) VALUES (1, 1, CAST(N'2020-01-01' AS Date), CAST(N'2020-01-02' AS Date))
INSERT [dbo].[Schedule] ([id], [room_id], [from], [to]) VALUES (2, 2, CAST(N'2020-01-01' AS Date), CAST(N'2020-01-07' AS Date))
INSERT [dbo].[Schedule] ([id], [room_id], [from], [to]) VALUES (3, 4, CAST(N'2020-01-03' AS Date), CAST(N'2020-01-07' AS Date))
SET IDENTITY_INSERT [dbo].[Shipping] ON 

INSERT [dbo].[Shipping] ([id], [name], [phone], [address]) VALUES (11, N'Lê Nhật Minh', N'0866823499', N'Vĩnh Lộc')
INSERT [dbo].[Shipping] ([id], [name], [phone], [address]) VALUES (12, N'Gun Airbrush', N'0866823499', N'Thạch Thất')
INSERT [dbo].[Shipping] ([id], [name], [phone], [address]) VALUES (13, N'Gun Airbrush', N'0866823499', N'Aaaa')
SET IDENTITY_INSERT [dbo].[Shipping] OFF
INSERT [dbo].[status_Account] ([code], [status]) VALUES (1, N'Active')
INSERT [dbo].[status_Account] ([code], [status]) VALUES (2, N'Pending')
INSERT [dbo].[status_Account] ([code], [status]) VALUES (3, N'Baned')
SET IDENTITY_INSERT [dbo].[status_category] ON 

INSERT [dbo].[status_category] ([id], [code], [status]) VALUES (1, 1, N'Selling')
INSERT [dbo].[status_category] ([id], [code], [status]) VALUES (2, 2, N'Salling')
INSERT [dbo].[status_category] ([id], [code], [status]) VALUES (3, 3, N'FreeShip')
SET IDENTITY_INSERT [dbo].[status_category] OFF
INSERT [dbo].[status_Order] ([code], [status]) VALUES (1, N'Waiting')
INSERT [dbo].[status_Order] ([code], [status]) VALUES (2, N'Accepted')
INSERT [dbo].[status_Order] ([code], [status]) VALUES (3, N'Shipping')
SET IDENTITY_INSERT [dbo].[status_product] ON 

INSERT [dbo].[status_product] ([id], [code], [status]) VALUES (1, 1, N'Selling')
INSERT [dbo].[status_product] ([id], [code], [status]) VALUES (2, 2, N'Salling')
INSERT [dbo].[status_product] ([id], [code], [status]) VALUES (3, 3, N'Free Ship')
SET IDENTITY_INSERT [dbo].[status_product] OFF
SET IDENTITY_INSERT [dbo].[status_sub_category] ON 

INSERT [dbo].[status_sub_category] ([id], [code], [status]) VALUES (1, 1, N'Selling')
INSERT [dbo].[status_sub_category] ([id], [code], [status]) VALUES (2, 2, N'Salling')
INSERT [dbo].[status_sub_category] ([id], [code], [status]) VALUES (3, 3, N'Free Ship')
SET IDENTITY_INSERT [dbo].[status_sub_category] OFF
SET IDENTITY_INSERT [dbo].[sub_category] ON 

INSERT [dbo].[sub_category] ([id], [category_id], [sub_category_name], [status]) VALUES (1, 1, N'Hand Tools', 1)
INSERT [dbo].[sub_category] ([id], [category_id], [sub_category_name], [status]) VALUES (2, 1, N'Tool Parts', 1)
INSERT [dbo].[sub_category] ([id], [category_id], [sub_category_name], [status]) VALUES (3, 1, N'Power Tools', 1)
SET IDENTITY_INSERT [dbo].[sub_category] OFF
INSERT [dbo].[view] ([view]) VALUES (820)
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Room] ([id])
GO
USE [master]
GO
